@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #121724;
    --secondary-color: #271d3f;
    --text-color: #ffffff;
    --color: rgb(54, 46, 75);
    --dark-purple: #12021f;
}

body{
    font-family: 'Momo Trust Display', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.progress-container{
    padding: 30px;
    border-radius: 20px;
    border: 4px solid var(--color);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.details{
    width: 100%;
}

#progress-bar{
    width: 100%;
    height: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-top: 20px;
}

#progress{
    width: 0%;
    height: 10px;
    background-color: var(--dark-purple);
    border-radius: 10px;
    transition: all 0.2s ease;
}

#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}

input{
    flex: 1px;
    padding: 16px;
    background-color: var(--secondary-color);
    border: 1px solid var(--color);
    border-radius: 10px;
    outline: none;
    color: var(--text-color);
}

button{
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--dark-purple);
    border: 1px solid var(--color);
    border-radius: 10px;
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.task-item{
    width: 100%;
    display: flex;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.task-item__main{
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-item input{
    width: 20px;
    height: 20px;
}

.task-item img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 95vw;
    margin: 40px auto 0 auto;
    padding: 10px;
  }
  .task-list, .progress-container {
    padding: 10px;
    gap: 16px;
  }
  form {
    flex-direction: column;
  }
  input, button {
    width: 100%;
    font-size: 20px;
    padding: 13px;
  }
}

/* Tablet */
@media (481px <= width <= 1024px) {
  .container {
    max-width: 80vw;
    margin: 80px auto 0 auto;
    padding: 16px;
  }
  .task-list, .progress-container {
    padding: 20px;
    gap: 20px;
  }

  input, button {
    font-size: 24px;
    padding: 12px;
  }
}